<section class="aboutCompany">
	<div class="aboutCompany__content">
		<h2>О компании</h2>
		<div class="aboutCompany__content-item">
			<div class="aboutCompany__content-item-left">
				<img src="/img/about.png" alt="" />
			</div>
			<div class="aboutCompany__content-item-right">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nobis sunt facere eaque,
					asperiores neque ipsum, dolorum consequatur eligendi blanditiis alias, debitis reiciendis
					aspernatur commodi tempore in error ad eius magnam illo nulla temporibus? Praesentium
					commodi quisquam, optio beatae distinctio reiciendis nemo illum laborum ullam vel fuga,
					eum aperiam quas pariatur sunt nulla dicta cum, ad explicabo tempore minima nihil dolorum
					ipsa sit. Quis labore facere, voluptatibus eum distinctio rem dolorem blanditiis dolores
					esse expedita voluptas nisi ducimus nulla soluta.
				</p>
			</div>
		</div>
	</div>
</section>
