<section class="aboutCompany">
	<div id="aboutCompany" class="aboutCompany__content">
		<h2>О компании</h2>
		<div class="aboutCompany__content-item">
			<div class="aboutCompany__content-item-left">
				<img src="/img/about.png" alt="" />
			</div>
			<div class="aboutCompany__content-item-right">
				<p>
					Компания Основана в 2014 году, за это время смогли добиться максимального качества своих
					комплектующих, с широким ассортиментом, и наладить работу по всей России. Всегда следим за
					всеми новинками в мебельной сфере, работаем над разнообразием и качеством поставляемых
					комплектующих и стараемся держать всю фурнитуру в наличии. За время нашей работы,мы
					подобрали тесный круг надежных партнеров, которые поставляют нам качественную продукцию. В
					число наших клиентов входят как и мелкие мебельные предприятия, так и крупные
					производства.
				</p>
			</div>
		</div>
	</div>
</section>
