<section class="catalog">
	<div class="catalog__content">
		<h2>Каталог товаров</h2>
		<div class="catalog__content-grid">
			<div class="catalog__content-grid-item">
				<img src="/img/catalog/1.png" alt="" />
				<p>Пуговицы</p>
			</div>
			<div class="catalog__content-grid-item">
				<img src="/img/catalog/1.png" alt="" />
				<p>Наконечники</p>
			</div>
			<div class="catalog__content-grid-item">
				<img src="/img/catalog/1.png" alt="" />
				<p>Лентагвозди</p>
			</div>
			<div class="catalog__content-grid-item">
				<img src="/img/catalog/1.png" alt="" />
				<p>Нитки</p>
			</div>
			<div class="catalog__content-grid-item">
				<img src="/img/catalog/1.png" alt="" />
				<p>Подпятники</p>
			</div>
			<div class="catalog__content-grid-item">
				<img src="/img/catalog/1.png" alt="" />
				<p>Профиль ППУ</p>
			</div>
			<div class="catalog__content-grid-item">
				<img src="/img/catalog/1.png" alt="" />
				<p>Кольца декоративные</p>
			</div>
			<div class="catalog__content-grid-item">
				<img src="/img/catalog/1.png" alt="" />
				<p>Босонные изделия</p>
			</div>
			<div class="catalog__content-grid-item">
				<img src="/img/catalog/1.png" alt="" />
				<p>Прочая фурнитура</p>
			</div>
		</div>
	</div>
</section>
