<section class="mainSection">
	<div class="slider">
		<div class="slider__item">
			<img src="/img/slider/1.jpg" alt="" />
			<div class="goOver">
				<div class="goOver__content">
					<h2>Кольца</h2>
					<a href="/site/catalog.html">
						<p>Перейти в каталог</p>
						<img src="/img/arrow.svg" alt="" />
					</a>
				</div>
			</div>
		</div>
		<div class="slider__item">
			<img src="/img/slider/2.jpg" alt="" />
			<div class="goOver">
				<div class="goOver__content">
					<h2>Наконечники Н103 и Н56</h2>
					<a href="/site/catalog.html">
						<p>Перейти в каталог</p>
						<img src="/img/arrow.svg" alt="" />
					</a>
				</div>
			</div>
		</div>
		<div class="slider__item">
			<img src="/img/slider/3.jpg" alt="" />
			<div class="goOver">
				<div class="goOver__content">
					<h2>Лентагвозди</h2>
					<a href="/site/catalog.html">
						<p>Перейти в каталог</p>
						<img src="/img/arrow.svg" alt="" />
					</a>
				</div>
			</div>
		</div>
		<div class="slider__item">
			<img src="/img/slider/4.jpg" alt="" />
			<div class="goOver">
				<div class="goOver__content">
					<h2>Пуговица-страза Акрил</h2>
					<a href="/site/catalog.html">
						<p>Перейти в каталог</p>
						<img src="/img/arrow.svg" alt="" />
					</a>
				</div>
			</div>
		</div>
		<div class="slider__item">
			<img src="/img/slider/5.jpg" alt="" />
			<div class="goOver">
				<div class="goOver__content">
					<h2>Пуговица-страза Стекло</h2>
					<a href="/site/catalog.html">
						<p>Перейти в каталог</p>
						<img src="/img/arrow.svg" alt="" />
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
