<section class="mainSection">
	<div class="slider">
		<div class="slider__item">
			<img src="/img/slider/01.jpg" alt="" />
		</div>
		<div class="slider__item">
			<img src="/img/slider/01.jpg" alt="" />
		</div>
		<div class="slider__item">
			<img src="/img/slider/01.jpg" alt="" />
		</div>
		<div class="slider__item">
			<img src="/img/slider/01.jpg" alt="" />
		</div>
	</div>
	<div class="goOver">
		<div class="goOver__content">
			<h2>ФУРНИТУРА ДЛЯ МЕБЕЛИ</h2>
			<a href="/site/catalog.html">
				<p>Перейти в каталог</p>
				<img src="/img/arrow.svg" alt="" />
			</a>
		</div>
	</div>
</section>
