<section class="why">
	<div class="why__content">
		<h2>Почему выбирают нас?</h2>
		<div class="why__content-item">
			<div class="why__content-item-flex">
				<div class="why__content-item-flex-box">
					<div class="why__content-item-flex-box-icon">
						<h3>Оперативность</h3>
						<img src="/img/why/time.png" alt="" />
					</div>
					<p>Быстрая доставка по всей России</p>
				</div>
				<div class="why__content-item-flex-box">
					<div class="why__content-item-flex-box-icon">
						<h3>Доступность</h3>
						<img src="/img/why/wallet.png" alt="" />
					</div>
					<p>Прямые поставки из Китая, делают наш товар дешевле, чем у других поставщиков</p>
				</div>
				<div class="why__content-item-flex-box">
					<div class="why__content-item-flex-box-icon">
						<h3>Оперативность</h3>
						<img src="/img/why/garant.png" alt="" />
					</div>
					<p>
						При необходимости можем отправить образцы почтой,чтобы вы убедились в качестве нашего
						товара
					</p>
				</div>
			</div>
			<div class="why__content-item-flex why__image">
				<img src="/img/about.png" alt="" />
			</div>
			<div class="why__content-item-flex why__flex__second">
				<div class="why__content-item-flex-box">
					<div class="why__content-item-flex-box-icon">
						<h3>Профессионализм</h3>
						<img src="/img/why/job.png" alt="" />
					</div>
					<p>Все наши сотрудники - специалисты своего дела</p>
				</div>
				<div class="why__content-item-flex-box">
					<div class="why__content-item-flex-box-icon">
						<h3>Качество</h3>
						<img src="/img/why/quality.png" alt="" />
					</div>
					<p>
						Мы ручаемся за качество, так как сами используем нашу фурнитуру в нашей мебельной
						фабрике
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
