.contact {
    &__content {
        padding: 100px 15px 200px 15px;
        max-width: 1120px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3em 1em;
        justify-content: center;
        &-form {
            h2 {
                font-weight: bold;
                font-size: 24px;
                line-height: 33px;
            }

            display: flex;
            flex-direction: column;

            .form-group {
                margin-top: 15px;
                &:first-child {
                    margin-top: 0;
                }
                input {
                    width: 100%;

                    background: #ffffff;
                    font-size: 16px;
                    border: 3px solid #ebebea;
                    box-sizing: border-box;
                    border-radius: 5px;
                    padding: 5px;
                }
                textarea {
                    font-size: 16px;
                    margin-top: 20px;
                    background: #ffffff;
                    border: 3px solid #ebebea;
                    box-sizing: border-box;
                    border-radius: 5px;
                    padding: 10px;
                    width: 100%;
                }
            }

            &-btn {
                margin-top: 30px;
                button {
                    padding: 12px 20px;
                    color: white;
                    font-weight: 500;
                    font-size: 16px;
                    background: #072969;
                    border-radius: 10px;
                }
            }
        }

        &-map {
            height: 450px;
        }
    }
}

@media (max-width: 976px) {
    .contact__content {
        padding: 30px 20px 30px 20px;
        grid-template-columns: 1fr;
        .form-group {
            margin-top: 10px;
            &:first-child {
                margin-top: 0;
            }
            textarea {
                margin-top: 10px;
            }
        }
    }
}
