<footer class="footer">
	<div class="footer__content">
		<div class="footer__content-logo">
			<img src="/img/logoFooter.png" alt="" />
		</div>
		<div class="footer__content-info">
			<div class="footer__content-info-item">
				<img src="/img/phone.svg" alt="" />
				<p><a href="tel:+79654619991">8(965)461-99-91</a></p>
			</div>
			<div class="footer__content-info-item">
				<img src="/img/mail.svg" alt="" />
				<p><a href="mailto:shop-arcos@mail.ru">shop-arcos@mail.ru</a></p>
			</div>
			<div class="footer__content-info-item social instBig">
				<p>Мы в социальных сетях</p>
			</div>
			<div class="footer__content-info-item">
				<img src="/img/phone.svg" alt="" />
				<p><a href="tel:+79186829999">8(918)682-99-99</a></p>
			</div>
			<div class="footer__content-info-item map">
				<img src="/img/map.svg" alt="" />
				<p>Краснодарский край, Отрадненский р-н, ст. Отрадная, ул. Урупская 62г</p>
			</div>
			<div class="footer__content-info-item social">
				<img src="/img/inst.svg" alt="" />
				<p class="instMin">Мы в социальных сетях</p>
			</div>
		</div>
	</div>
	<div class="footer__contentDown">
		<p>ARCOS с 2020. Все права защищены</p>
	</div>
</footer>

<div class="wr">
	<nav class="menuShare">
		<input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
		<label class="menu-open-button" for="menu-open">
			<img src="/img/call/main.png" alt="" />
		</label>
		<a class="menu-item phone_share_btn" href="tel:+79832693953">
			<img src="/img/call/call.png" alt="" />
		</a>
		<a class="menu-item phone_share_btn" href="https://viber.click/79832693953">
			<img src="/img/call/viber.png" alt="" />
		</a>
		<a class="menu-item whatsapp_share_btn" href="https://wa.me/79832693953">
			<img src="/img/call/wats.png" alt="" />
		</a>
	</nav>
</div>

<div id="popup" class="popup">
	<div class="popup__body">
		<div class="popup__content">
			<h2>Получить консультацию</h2>
			<p>Мы позвоним Вам в течении 10 минут</p>
			<a href="#" class="popup__clouse close-popup">&times;</a>
			<div class="popup__item">
				<div class="popup__item-inpit">
					<div class="inpit__image">
						<img src="/img/popup/name.png" alt="" />
					</div>

					<input type="text" placeholder="Ваше имя" name="name-popup" id="name-popup" />
				</div>
				<div class="popup__item-inpit">
					<div class="inpit__image">
						<img src="/img/popup/phone.png" alt="" />
					</div>

					<input type="tel" placeholder="Ваш телефон" name="phone-popup" id="phone-popup" />
				</div>

				<div class="popup__item-formBtn">
					<button type="submit" name="submit-popup" id="submit-popup">Отправить</button>
				</div>
				<p>Нажимая кнопку Вы соглашаетесь с политикой конфиденциальности</p>
			</div>
		</div>
	</div>
</div>
