<header class="headerAfter">
	<div class="headerAfter__content">
		<div class="headerAfter__content-logo element">
			<img src="/img/logo.png" alt="" />
			<p>Магазин фурнитуры<br />для мягкой мебели</p>
		</div>
		<div class="headerAfter__content-location element">
			<img src="/img/map.png" alt="" />
			<p>Краснодарский край, Отрадненский р-н,<br />ст. Отрадная, ул. Урупская 62г</p>
		</div>
		<div class="headerAfter__content-mail element">
			<img src="/img/mail.png" alt="" />
			<p><a href="mailto:shop-arcos@mail.ru">shop-arcos@mail.ru</a></p>
		</div>
		<div class="headerAfter__content-time element">
			<img src="/img/time.png" alt="" />
			<p>Пн-Пт 8:00-18:00</p>
		</div>
		<div class="headerAfter__content-button">
			<a href="#popup">Обратный звонок</a>
		</div>
	</div>
</header>
