<header class="header">
	<div class="header__content">
		<div class="header__burger-logo">
			<div class="header__burger">
				<span></span>
			</div>
			<div class="header__burger-logo-image">
				<img src="/img/logo.png" alt="" />
			</div>
		</div>

		<div class="header__content-menu">
			<a href="#">О компании</a>
			<a href="/site/menu.html">Каталог</a>
			<a href="#">Акции</a>
			<a href="#">Популярные товары</a>
			<a href="/site/сontact.html">Контакты</a>
		</div>
		<div class="header__content-contact">
			<div class="header__content-contact-phone">
				<a href="tel:+79654619991">
					<img src="/img/phone.png" alt="" />
					<p>8(965)461-99-91</p>
				</a>
			</div>
			<div class="header__content-contact-cart">
				<a href="/site/cart.html">
					<h4>12</h4>
					<img src="/img/cart.png" alt="" />
					<p>5897<span> руб.</span></p>
				</a>
			</div>
		</div>
	</div>
</header>
