<header class="header">
	<div class="header__content">
		<div class="header__content-menu">
			<a href="#">О компании</a>
			<a href="#">Каталог</a>
			<a href="#">Акции</a>
			<a href="#">Популярные товары</a>
			<a href="#">Контакты</a>
		</div>
		<div class="header__content-phone">
			<a href="tel:+79654619991">
				<img src="/img/phone.png" alt="" />
				<p>8(965)461-99-91</p>
			</a>
		</div>
		<div class="header__content-cart">
			<h4>12</h4>
			<img src="/img/cart.png" alt="" />
			<p>5897<span> руб.</span></p>
		</div>
	</div>
</header>
