body.lock {
    overflow: hidden;
}

.popup {
    font-family: Roboto;
    z-index: 200;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;

    &.open {
        opacity: 1;
        visibility: visible;
    }

    &.open .popup__content {
        opacity: 1;
        transform: perspective(0px) translate(0px, -0) rotateX(0deg);
    }
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.popup__content {
    text-align: center;
    background-color: white;
    position: relative;
    transition: all 0.8s ease 0s;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    opacity: 0;
    color: black;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    padding: 28px 17px 28px 17px;

    h2 {
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 40px;
        padding: 0 10px 7px 10px;
    }
    p {
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        color: #cdcdcd;
    }
}

.popup__clouse {
    position: absolute;
    top: 0px;
    right: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 50%;
    padding: 0px 7px;
    font-size: 30px;
    color: black;
    transition: 0.1s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}

.popup__item {
    max-width: 430px;
    &-inpit {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        border-radius: 50px;
        margin: 33px 60px 0px 60px;
        padding: 10px;
        .inpit__image {
            border-right: 3px solid #ebebea;
            padding-right: 16px;
            img {
                width: 30px;
                height: 30px;
            }
        }

        input {
            padding-left: 16px;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;

            &::placeholder {
                font-weight: 500;
                font-size: 18px;
                line-height: 23px;
                color: #ebebea;
            }
        }
    }

    &-formBtn {
        padding: 30px 60px 10px 60px;

        button {
            width: 100%;
            font-weight: 500;
            font-size: 18px;
            line-height: 20px;
            color: white;
            background: #072969;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
            border-radius: 50px;
            border: 1px solid #072969;
            padding: 15px 40px;
            transition: 0.2s all;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
    }
}

@media (max-width: 800px) {
    .popup__item {
        input {
            min-width: 70vw;
        }
    }
}
