.mainCart {
	&__content {
		padding: 20px 15px 50px 15px;
		max-width: 1320px;
		margin: 0 auto;
		&-back {
			display: flex;
			p {
				font-weight: 500;
				font-size: 18px;
				line-height: 30px;
				color: #c4c4c4;
				padding: 0 10px;
			}
			a {
				font-weight: 500;
				font-size: 18px;
				line-height: 30px;
				color: #c4c4c4;
			}
		}
		h2 {
			padding: 19px 0;
			font-weight: 500;
			font-size: 35px;
			line-height: 59px;
		}
		&-cart {
			width: 100%;
			h3 {
				padding: 26px 0 32px 0;
				font-weight: 500;
				font-size: 22px;
				line-height: 33px;
			}
			&-name {
				display: grid;
				grid-template-columns: 49% 27% 22% 2%;
				position: relative;
				&::after {
					position: absolute;
					content: "";
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: #e5e5e5;
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				}
				p {
					font-weight: 500;
					font-size: 22px;
					line-height: 30px;
					color: #c4c4c4;
				}
			}
			&-product {
				padding: 22px 0 18px 0;
				display: grid;
				grid-template-columns: 49% 27% 22% 2%;
				align-items: center;
				position: relative;
				&::after {
					position: absolute;
					content: "";
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: #e5e5e5;
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				}
				&-main {
					@include disflex(flex, stretch, center);
					img {
						width: 100px;
						border-radius: 50px;
						margin-right: 20px;
					}
					&-title {
						p {
							font-weight: 500;
							font-size: 20px;
							line-height: 28px;
						}
						&-how {
							@include disflex(flex, stretch, center);
							p {
								font-weight: 500;
								font-size: 20px;
								line-height: 26px;
								color: #c4c4c4;
								padding-right: 10px;
							}
							input {
								width: 100px;
								font-weight: 500;
								font-size: 16px;
								line-height: 19px;
								color: #c4c4c4;
							}
						}
					}
				}
			}
			.sum {
				font-weight: 500;
				font-size: 20px;
				line-height: 28px;
			}
			.delete {
				font-size: 30px;
			}
			&-total {
				display: grid;
				grid-template-columns: 76% 22% 2%;
				align-items: center;
				p {
					padding: 30px 0 0px 0;
					font-weight: 500;
					font-size: 22px;
					line-height: 26px;
				}
			}
			&-btn {
				text-align: end;
				padding-top: 50px;
				a {
					color: white;
					font-weight: 500;
					font-size: 20px;
					line-height: 35px;
					background: #072969;
					border-radius: 10px;
					padding: 12px 20px;
				}
			}
		}
	}
}
