.catalog {
    &__content {
        padding: 80px 15px 60px 15px;
        max-width: 1320px;
        margin: 0 auto;

        h2 {
            @extend %h2;
        }
        &-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 102px 69px;
            &-item {
                height: 130px;
                display: flex;
                align-items: center;
                border-radius: 80px;
                background: #ffffff;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
                img {
                    width: 138px;
                    height: 128.21px;
                }
                p {
                    padding-left: 37px;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 20px;
                }
            }
        }
    }
}
