.popularItem {
    &__content {
        @extend %slider__content;
        &-slider {
            @extend %slider__slider;
            &-track {
                @extend %slider__track;
                &-item {
                    padding: 0px 0px 20px 20px;

                    &-product {
                        @extend %slider__product;
                    }
                }
            }

            &-buttons {
                @extend %slider__btns;

                &-prev {
                    @extend %slider__btnsPrev;
                }

                &-next {
                    @extend %slider__btnsNext;
                }
            }
        }
    }
}

@media (max-width: 1270px) {
    .popularItem__content-slider-track-item-product {
        width: 100%;
    }
}

@media (max-width: 976px) {
    .popularItem__content {
        padding: 30px 20px 20px 0px;
    }
    .popularItem__content-slider-track-item-product {
        padding: 16px 5px;
        img {
            width: 20vw;
        }

        h3 {
            padding: 10px 0 6px 0px;
            font-weight: 500;
            @include adaptiv-fontAll(12, 10);
            line-height: 14px;
            color: #c4c4c4;
        }
        p {
            font-weight: 500;
            @include adaptiv-fontAll(18, 14);
            line-height: 21px;
        }
        a {
            margin-top: 10px;
            background: rgb(6, 42, 105);
            box-shadow: 0px 4px 4px rgba(6, 42, 105, 0.25);
            border-radius: 50px;
            padding: 5px 10px;
            @include disflex(flex, center, center);
            p {
                @include adaptiv-fontAll(14, 9);
                color: white;
                padding-right: 5px;
            }

            img {
                width: 10px;
                height: 10px;
            }
        }
    }
}

@media (max-width: 768px) {
    .popularItem__content-slider-track-item-product {
        img {
            width: 20vw;
        }
    }
}

@media (max-width: 500px) {
    .popularItem__content-slider-track-item-product {
        img {
            width: 30vw;
        }
        h4 {
            padding: 10px 0 5px 0px;
        }
        h3 {
            padding: 0px 0 5px 0px;
        }
        .rebate {
            &__content {
                width: 39px;
                height: 37px;
                img {
                    width: 39px;
                    height: 37px;
                }
            }
        }
        a {
            margin-top: 5px;
        }
    }
}
