%slider__content {
    padding: 100px 20px 20px 0px;
    max-width: 1120px;
    margin: 0 auto;
    h2 {
        @extend %h2;
    }
}

%slider__slider {
    overflow: hidden;
}

%slider__track {
    @include disflex(flex, stretch, center);
    transition: 0.2s;
}

%slider__product {
    @include disflex(flex, center, center);
    flex-direction: column;
    background: #ffffff;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 26px 10px;
    width: 250px;
    position: relative;
    img {
        width: 160px;
        border-radius: 50px;
    }
    h4 {
        text-align: center;
        padding: 15px 0 10px 0px;
        font-weight: 500;
        @include adaptiv-fontAll(16, 13);
        line-height: 14px;
    }
    h3 {
        padding: 0px 0 10px 0px;
        font-weight: 500;
        @include adaptiv-fontAll(12, 11);
        line-height: 14px;
        color: #c4c4c4;
    }
    p {
        font-weight: 500;
        @include adaptiv-fontAll(16, 12);
        line-height: 21px;
    }
    a {
        margin-top: 10px;
        background: rgb(6, 42, 105);
        box-shadow: 0px 4px 4px rgba(6, 42, 105, 0.25);
        border-radius: 50px;
        padding: 8px 16px;
        @include disflex(flex, center, center);

        p {
            @include adaptiv-fontAll(14, 10);
            color: white;
            padding-right: 5px;
        }

        img {
            @include disflex(flex, center, center);
            width: 15px;
            height: 15px;
        }
    }
}

%slider__btns {
    text-align: end;
    font-size: 0;
    padding-bottom: 26px;
}

%slider__btnsPrev {
    padding: 10px 15px;
    background-color: white;
    border-radius: 15px;
    margin-right: 20px;
}

%slider__btnsNext {
    transform: rotate(180deg);
    padding: 10px 15px;
    background-color: white;
    border-radius: 15px;
    margin-right: 8%;
}

.stocks {
    &__content {
        @extend %slider__content;
        &-slider {
            @extend %slider__slider;
            &-track {
                @extend %slider__track;

                &-item {
                    padding: 0px 0px 20px 20px;

                    &-product {
                        @extend %slider__product;

                        .rebate {
                            width: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            &__content {
                                position: relative;
                                width: 49px;
                                height: 47px;
                                @include disflex(flex, center, center);
                                img {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 49px;
                                    height: 47px;
                                    border-radius: 0px;
                                }
                                p {
                                    @include adaptiv-fontAll(14, 12);
                                    position: absolute;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }

            &-buttons {
                @extend %slider__btns;

                &-prev {
                    @extend %slider__btnsPrev;
                }

                &-next {
                    @extend %slider__btnsNext;
                }
            }
        }
    }
}
@media (max-width: 1270px) {
    .stocks__content-slider-track-item-product {
        width: 100%;
    }
}
@media (max-width: 976px) {
    .stocks__content {
        padding: 30px 20px 20px 0px;
    }
    .stocks__content-slider-track-item-product {
        padding: 16px 5px;
        .rebate {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            &__content {
                position: relative;
                width: 39px;
                height: 37px;
                @include disflex(flex, center, center);
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 39px;
                    height: 37px;
                    border-radius: 0px;
                }
                p {
                    @include adaptiv-fontAll(14, 10);
                    position: absolute;
                    padding-right: 6px;
                    color: white;
                }
            }
        }
        .rebate__sum {
            position: absolute;
            top: 18px;
            left: 0px;
            color: white;
            font-size: 15px;
        }
        h3 {
            padding: 10px 0 6px 0px;
            font-weight: 500;
            @include adaptiv-fontAll(12, 10);
            line-height: 14px;
            color: #c4c4c4;
        }
        .discond {
            font-weight: 500;
            @include adaptiv-fontAll(12, 10);
            line-height: 14px;
            display: flex;
            align-items: center;
            text-decoration-line: line-through;
        }
        p {
            font-weight: 500;
            @include adaptiv-fontAll(18, 14);
            line-height: 21px;
        }
        a {
            margin-top: 10px;
            background: rgb(6, 42, 105);
            box-shadow: 0px 4px 4px rgba(6, 42, 105, 0.25);
            border-radius: 50px;
            padding: 5px 10px;
            @include disflex(flex, center, center);
            p {
                @include adaptiv-fontAll(14, 9);
                color: white;
                padding-right: 5px;
            }

            img {
                width: 10px;
                height: 10px;
            }
        }
    }
}

@media (max-width: 768px) {
    .stocks__content-slider-track-item-product {
        img {
            width: 20vw;
        }
    }
}

@media (max-width: 500px) {
    .stocks__content-slider-track-item-product {
        img {
            width: 30vw;
        }
        h4 {
            padding: 10px 0 5px 0px;
        }
        h3 {
            padding: 0px 0 5px 0px;
        }
        .rebate {
            &__content {
                width: 39px;
                height: 37px;
                img {
                    width: 39px;
                    height: 37px;
                }
            }
        }
        a {
            margin-top: 5px;
        }
    }
}
