<section class="order">
	<div class="order__content">
		<div class="order__content-back">
			<a href="/site/menu.html">Каталог</a>
			<p>/</p>
			<a href="/site/cart.html">Корзина</a>
			<p>/</p>
			<a href="/">Оформление заказа</a>
		</div>
		<h2>Оформление заказа</h2>
		<div class="order__content-person">
			<h2>Персональные данные</h2>
			<div class="order__content-person-grid">
				<input type="text" placeholder="ФИО*" />
				<input type="text" placeholder="Компания" />
				<input type="number" placeholder="Телефон" />
				<input type="text" placeholder="Email" />
			</div>
		</div>
	</div>
</section>
