<section class="order">
	<div class="order__content">
		<div class="order__content-back">
			<a href="/site/catalog.html"">Каталог</a>
			<p>/</p>
			<a href="/site/cart.html">Корзина</a>
			<p>/</p>
			<a href="/">Оформление заказа</a>
		</div>
		<h2>Оформление заказа</h2>
		<div class="order__content-person">
			<h2>Персональные данные</h2>
			<div class="order__content-person-grid">
				<input type="text" placeholder="ФИО*" />
				<input type="text" placeholder="Компания" />
				<input type="number" placeholder="Телефон*" />
				<input type="text" placeholder="Email" />
			</div>
		</div>
		<div class="order__content-delivery">
			<h2>Адрес доставки</h2>
			<div class="order__content-delivery-grid">
				<input type="text" placeholder="город*" />
				<input type="text" placeholder="улица*" />
			</div>
		</div>
		<div class="order__content-textarea">
			<h2>Коментарий к заказу</h2>
			<div class="order__content-textarea-grid">
				<textarea name="messege" id="" cols="30" rows="10"></textarea>
			</div>
		</div>
		<div class="order__content-pay">
			<h2>Способ оплаты</h2>
			<div class="order__content-pay-grid">
				<input type="radio" checked />
				<p>Безналичный расчет</p>
			</div>
		</div>
		<div class="order__content-btn">
			<div class="order__content-btn-grid">
				<div class="order__content-btn-grid-checkbox">
					<input type="checkbox" checkbox />
					<p>Принимаю соглашения о конфиденциальности</p>
				</div>
				<a href="/site/readyOrder.html">Подтвердить заказ</a>
			</div>
		</div>
	</div>
</section>
