<section class="readyOrder">
	<div class="readyOrder-back">
		<a href="/site/menu.html">Каталог</a>
		<p>/</p>
		<a href="/site/cart.html">Корзина</a>
		<p>/</p>
		<a href="/site/order.html">Оформление заказа</a>
		<p>/</p>
		<a href="/">Оплата</a>
	</div>
	<div class="readyOrder__content">
		<div class="readyOrder__content-sum__item">
			<p>Стоимость товаром</p>
			<p>7200<span> руб.</span></p>
		</div>
		<div class="readyOrder__content-dostavka">
			<p>Доставка</p>
			<p>300<span> руб.</span></p>
		</div>
		<div class="readyOrder__content-work">
			<p>Монтажные работы</p>
			<p>Да</p>
		</div>
		<div class="readyOrder__content-total">
			<p>Итог:</p>
			<p>7200<span> руб.</span></p>
		</div>
		<div class="readyOrder__content-button">
			<a href="#">Оплатить заказ</a>
		</div>
	</div>
</section>
